@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,500&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    overflow: hidden;
    height: 100%;
    background: linear-gradient(rgb(255 255 255 / 77%), rgb(255 4 131 / 84%)), url(../images/background.jpg);
}

.icon-love {
    width: 400px;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: "Inter", serif;
}

body {
    overflow: hidden;  
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

/*---------------------- body_left -------------------------*/
.body_left {
    width: 332px;
    height: 295px;
    left: 197px;
    bottom: 74px;
    position: absolute;
    z-index: 98;
}

/*---------------------- body_left -------------------------*/

/*---------------------- body_center -------------------------*/
.container .love {
    width: 520px;
    height: 440px;
    left: 50%;
    top: 40%;
    position: absolute;
    margin: -127px 0 0 -220px;
    /* background-color: gray; */
    z-index: 99;
}

.love .block {
    right: 0;
    position: absolute;
    visibility: hidden; 
    background-color: yellow;
}

.love .block div {
    width: 40px;
    height: 40px;
    position: absolute;
    background: url("../images/r2.png") no-repeat;
    background-size: contain;
    /*background-color: #c40908;*/
    /*border: 1px solid silver;*/
    box-sizing: border-box;
}


/*---------------------- body_center -------------------------*/

/*---------------------- footer -------------------------*/
@keyframes border {
    0% {
        width: 0;
    }
    5% {
        width: 5%;
    }
    10% {
        width: 10%;
    }
    15% {
        width: 15%;
    }
    20% {
        width: 20%;
    }
    25% {
        width: 25%;
    }
    30% {
        width: 30%;
    }
    35% {
        width: 35%;
    }
    40% {
        width: 40%;
    }
    45% {
        width: 45%;
    }
    50% {
        width: 50%;
    }
    55% {
        width: 55%;
    }
    60% {
        width: 60%;
    }
    65% {
        width: 65%;
    }
    70% {
        width: 70%;
    }
    75% {
        width: 75%;
    }
    80% {
        width: 80%;
    }
    85% {
        width: 85%;
    }
    90% {
        width: 90%;
    }
    95% {
        width: 95%;
    }
    100% {
        width: 100%;
    }

}

.title {
    color: rgb(238, 255, 255);
    text-align: center;
    text-shadow: /* 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 */;
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 11px;
    margin-top: -87px !important;
    text-transform: uppercase;
    /* justify-self: flex-start; */
}

.footer {
    bottom: 112px;
    /* border-bottom: 9px solid #fff; */
    position: relative;
    z-index: 99;
}
.footer .border .border-top {
    /*width: 0;*/
    /*display: inline-block;*/
    border-top: 3px solid #fff;
    transform-origin: left center;
    -webkit-animation: border 312 linear;
    -o-animation: border 12s linear;
    animation: border 12s linear;
    animation-fill-mode : both;
    /*border-bottom: none;*/
}

.footer .border .border-bottom {
    /*width: 0;*/
    /*display: inline-block;*/
    float: right;
    border-top: 3px solid #000;
    transform-origin: right center;
    -webkit-animation: border 7s linear 12s;
    -o-animation: border 7s linear 12s;
    animation: border 7s linear 12s;
    animation-fill-mode : both;
    /*border-bottom: none;*/
}


.footer .copyright {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -30px;
    text-align: center;
    /*background-color: gray;*/

}

.copyright div {
    width: 30%;
    line-height: 30px;
    display: inline-block;
}

.copyright div span {
    color: dimgray;
}

#copy {
    position: fixed;
    bottom: 22px;
    right: 4%;
    /* transform: translateX(-50%); */
    font-size: 1rem;
}

#copy a {
    text-decoration: none;
    color: #191919d7;
}

    #copy p {
    color: #fff6f9;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    }

/*---------------------- footer -------------------------*/
@media (min-width: 250px) and (max-width: 550px) {
    .body_left {
        width: 272px;
        height: 223px;
        left: 10px;
        bottom: 42px;
        position: absolute;
        z-index: 98;
    }

    .body_left img {
        height: 210px;
    }

    .container .love {
        width: 485px;
        height: 395px;
        left: 44%;
        top: 40%;
        position: absolute;
        margin: -127px 0 0 -220px;
        transform: scale(.6);
        /* background-color: gray; */
        z-index: 99;
    }

   .title {
    color: rgb(238, 255, 255);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 11px;
    margin-top: -72px !important;
    text-transform: uppercase;
}

.footer {
    bottom: 88px;
    /* border-bottom: 9px solid #fff; */
    position: relative;
    z-index: 99;
}

#copy {
    position: fixed;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .7rem;
}
}
